.my-name {
    margin: 10px;
    padding: 10px; 
    font-family: Georgia;
    font-size: 30px;
}

ul {
    font-family: 'Courier New';
    font-size: 35px;
}

#about-me img {
    height: 170px;
    width: 170px;
    margin: 6px;
}

#about-me {
    text-align: center;
}

#portfolio {
    text-align: center;
}

#contact-me {
    text-align: center;
}