.my-name {
    margin: 10px;
    padding: 10px; 
    font-family: Georgia;
    font-size: 35px;
}

ul {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 35px;
}

#about-me img {
    height: 170px;
    width: 170px;
    margin: 6px;
}

#about-me {
    text-align: center;
}

#portfolio {
    text-align: center;
}

#contact-me {
    text-align: center;
}

#contact-me ul {
    display: inline;
    font-size: 18px;
    color: black;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}